.allnews-all-cards-page {
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .allnews-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .allnews-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .allnews-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .allnews-card-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .allnews-card-content {
    padding: 15px;
    padding-bottom: 0px;
    text-align: center;
  }
  
  .allnews-card-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
  }
  
  .allnews-card-description {
    font-size: 1rem;
    color: #666;
    height: 10vh;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .allnews-card-description::-webkit-scrollbar {
    display: none;
  }
  
  .allnews-news-component-container {
    grid-column: 1 / -1; /* Span all columns in the grid */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  