.main-body {
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  margin-right: 10px; /* Space between input and button */
}

.search-button {
  padding: 10px 10px;
  background-color: #000000;
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #45a049;
}

.search-button svg {
  width: 20px;
  height: 20px;
}

.sub-cont {
  padding-top: 40px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  height: fit-content;
}

.sub-cont-head {
  display: flex;
  justify-content: center; 
  width: 100%; 
  margin-bottom: 20px; 
}

.new-component-container {
  margin-top: 20px; /* Space between the grid and new component */
  width: 100%;
  display: flex;
  justify-content: center;
}

.new-component {
  width: 80%; /* Adjust as needed */
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.conta {
  padding-top: 5%;
  margin: auto;
  max-width: 800px;
}

#home{
  padding-top: 50px;  
}