.nav-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 101; 
}

.nav-logo svg {
  fill: white;
  width: 40px;
  height: 40px;
  display: block; 
  z-index: 102;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 100; 
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.nav-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-x: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.nav-center::-webkit-scrollbar {
  display: none; 
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin: 0 10px;
}

.nav li a {
  color: white;
  text-align: center;
  padding: 14px 10px;
  line-height: 2.5; 
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.nav li a:hover, .nav li a.active {
  background-color: #111;
  color: #f1f1f1;
}

.nav-avatar {
  display: flex;
  align-items: center;
  flex-shrink: 0; 
}

.nav-avatar .MuiAvatar-root {
  background-color: gray;
  width: 40px;
  height: 40px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .nav-logo svg {
    width: 35px;
    height: 35px;
  }

  .nav li a {
    padding: 12px 8px; 
    font-size: 14px;
    line-height: 2.3;
  }

  .nav-avatar .MuiAvatar-root {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .nav-logo svg {
    width: 30px;
    height: 30px;
  }

  .nav li a {
    padding: 10px 5px; 
    font-size: 12px;
    line-height: 2; 
  }

  .nav-avatar .MuiAvatar-root {
    width: 30px;
    height: 30px;
  }
}

/* Navigation.css */
.profile-card-container {
  position: fixed;
  top: 70px;
  right: 20px;
  width: 250px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 50;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* Prevent interaction when not visible */
}

.profile-card-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Enable interaction when visible */
}
